<ion-view view-title="Dispositivo">
  <ion-content>
    <div class="navbar-header" align="center" style="width: 100%; padding-top: 50px;">
      <table>
        <tr align="center"><td><img alt="Brand" src="../img/ionic.png" class="logo"></td></tr>
        <tr align="center" >
          <td style="padding-top: 20px;">
            <font style="color: black; font-weight: bold; font-size: 25px;">{{usuario}}</font>
            <br>
            <a class="item item-avatar" href="#">
              <img src="../img/ionic.png">
              <h2>xx</h2>
              <p>Back off, man. I'm a scientist.</p>
            </a>
          </td>
        </tr>
        <tr align="left" >
          <td style="padding-top: 5px; padding-left: 20px; padding-right: 20px;">
            <font style="color: black; font-weight: bold;">
              XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</font>
          </td>
        </tr>
      </table>
    </div>
  </ion-content>
</ion-view>
