<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Detalle producto</h1>
  </ion-header-bar>
  <ion-content>
    <form>
      <ion-list>
        <ion-item>Codigo producto: {{promocionesDetalle.idPromocion}}</ion-item>
        <ion-item>Nombre producto: {{promocionesDetalle.nombreProducto}}</ion-item>
        <ion-item>Valor producto: {{promocionesDetalle.valorProducto}}</ion-item>
        <ion-item>Descuento: {{promocionesDetalle.descuento}}</ion-item>
        <ion-item>Fecha fin: {{promocionesDetalle.fecha}}</ion-item>
      </ion-list>
    </form>
  </ion-content>
</ion-modal-view>
