<ion-view view-title="Gastos/Ingresos/Retiros">
  <ion-content>
    <div class="list">
      <label class="item item-input"><font class="col col-50">Proveedor*</font>
        <select id="selectTiProv" ng-change="cambioProveedor($)" class="col col-50" ng-model="pedido.proveedor">
          <option ng-repeat="$ in pedido.proveedores" value="{{$.cdproveedor}}">{{$.dsproveedor}}</option>
        </select>
      </label>
      <label class="item item-input"><font class="col col-50">Tipo producto*</font>
        <select id="selectTipoProd" ng-change="cambiarTipoPro()" class="col col-50" ng-model="pedido.tipoProducto">
          <option ng-repeat="$ in dataTipoMov" value="{{$.id}}">{{$.nombre}}</option>
        </select>
      </label>
      <label class="item item-input"><font class="col col-50">producto*</font>
        <select id="selectProd" ng-change="cambiarTipoMovimiento()" class="col col-50" ng-model="pedido.producto">
          <option ng-repeat="option in dataTipoMov" value="{{option.id}}">{{option.nombre}}</option>
        </select>
      </label>
      <label class="item item-input"><font class="col col-50">Descripción*</font>
        <select id="selectDescripcion" class="col col-50" ng-model="movimientosDinero.descripcion">
          <option>Gasolina</option>
          <option >Almuerzo</option>
        </select>
      </label>
      <div align="center">
        <button class="button button-dark">
          Buscar
        </button>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-left">
    <a class="tab-item" ng-click="guardarInformacion()">
      <i class="icon ion-checkmark-circled"></i>
      <font style="font-size: 15px; color: black;">Guardar</font>
    </a>
    <a class="tab-item" ng-click="cancelar()">
      <i class="icon ion-close-circled"></i>
      <font style="font-size: 15px; color: black;">Cancelar</font>
    </a>
  </div>
</ion-view>
