/* Empty. Add your own CSS if you like */
.logo{
    height: 150px;
    margin-top: -15px;
}
.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 150px;
}

.image {
  width: 200%;
  height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center, center;
}
